/* CSS to get the new stuff in HTML5 working from the start. */

section,
article,
header,
footer,
nav,
aside,
hgroup,
details,
figcaption,
figure,
menu {
  display: block;
}
small {
  font-size: 85%;
}