@import "compass/typography/vertical_rhythm";
@import "compass/utilities";

/** Color Scheme **/

$grey20: #333333;
$grey40: #666666;
$grey50: #808080;
$grey60: #999999;
$grey70: #B3B3B3;
$grey80: #CCCCCC;
$grey87: #DDDDDD;
$grey90: #E6E6E6;
$grey93: #eeeeee;
$grey95: #F2F2F2;
$grey98: #FAFAFA;
$grey99: #FCFCFC;

// Village at night: http://kuler.adobe.com/#themeID/1479872
$link_color: #7A6D42;
$nav_color: #613F38;
$nav_link_color: #D9D28B;
$stripe_color: #F0E99A;

// Mad Men: http://kuler.adobe.com/#themeID/879196
// $link_color: #744E1D;
// $nav_color: #712800;
// $nav_link_color: #ACBF82;
// $stripe_color: #F1D98C;

// Avigon http://kuler.adobe.com/#themeID/1481265
// $link_color: #95A18A;
// $nav_color: #C7BF9E;
// $nav_link_color: #283031;
// $stripe_color: #95A18A;


/** Typography defaults **/
$blueprint-font-size: 16px;

/* Setup vertical rhythm */
$base-font-size: 16px;
// $base-line-height: 21px;

/* Mixins */
@mixin embossed {
  color: #444444;
  text-shadow: 0px 1px 0px #e5e5ee;
}

@mixin utility-button {
  @include fancy-button(#ccc, 11px, 3px, 1px);
  line-height: 20px;
}

// A mixin class that controls menu styles
@mixin menu-links-inline($padding, $width, $style, $color) {
  li {
    display: inline;
    padding: 0 $padding;
    border-right: $width $style $color;
    margin: 0;
    // @include horizontal-list();
  }
  .last {
    border-right: none;
  }
}
