/* 960 Grid System ~ Text CSS.
 * Learn more ~ http://960.gs/
 * *
 * Licensed under GPL and MIT. */

@import "blueprint/typography";
@import "compass/typography";
@import "base";

@include blueprint-typography;

/* Setup vertical rhythm */
@include establish-baseline;

body {
  font-family: Georgia,Cambria,Times,Times New Roman,serif;
}
code { font-family: "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace; }
.signature { font-family:  "Bradley Hand ITC", "Apple Chancery", "URW Chancery L", cursive; }

h1 {
  font-family: 'IM Fell English', Georgia, Cambria;
  text-rendering: optimizeLegibility;
}
h2,h3,h4,h5,h6 {
  text-rendering: optimizeLegibility;
}

h1 {
  @include adjust-font-size-to(26.5px, 1.4);
  @include leader(.75);
  @include trailer(.75);
  &#page-title {
    font-variant: small-caps;
    font-weight: bold;
    @include leader(.75);
    @include trailer(.5);
  }
}
h2 {
  @include adjust-font-size-to(21px, 1.4);
  @include leader(.75);
  @include trailer(.75);
}
h3, h4, h5, h6 {
  @include adjust-font-size-to(18px);
  @include trailer(0);
}

/* Links */
a {
  @include link-colors($link-color, $link-color, $link-color, $link-color);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
