/* 960 Grid System ~ Core CSS.
 * Learn more ~ http://960.gs/
 * *
 * Licensed under GPL and MIT. */

@import "compass/reset";
@import "960/grid";

$ninesixty-columns: 24;
$ninesixty-gutter-width: 60px;

.no-sidebars {

  header#banner,
  #footer,
  #main-wrapper,
  nav#breadcrumb {
    @include grid-container;
  }
}

#page #banner {
  #name-and-slogan {
    @include grid(18);
    @include alpha(); }
  #header {
    float: right;
  }
}

.ancestor-profile {
  @include grid(8);
}

article.tagged-content {
  @include grid(12);
}

.one-sidebar {
  header#banner,
  #footer,
  #main-wrapper,
  nav#breadcrumb {
    @include grid-container;
  }

  #main {
    @include grid(16);
    @include alpha();
  }

  #sidebar-second, #sidebar-first {
    @include grid(8);
  }
}

.sidebar-second {
  #sidebar-second {
    @include omega();
  }
}

#page div.messages {
  @include grid-container;
  @include grid-width(22);
}
