@import "base";
@import "typography";
@import "formalize";
@import "fancy-buttons";
@import "960/grid";

table {
  $table-color: $stripe_color;
  @include table-scaffolding;
  @include inner-table-borders(0);
  @include outer-table-borders(0);
  @include alternating-rows-and-columns($table-color, #FFFFFF, #000000);
  // Override Drupal default.
  tr.even, tr.odd {
    border-bottom: 0;
  }
  tr {
    td.event-type {
      background: #FFFFFF;
      border: 0;
      font-weight: bold;
    }
  }
}

.breadcrumb {
  @include adjust-font-size-to(12px);
  @include trailer(0);
  @include leader(.25);
  padding: 0;
}

header#banner {
  hgroup#name-and-slogan {
    h1#site-name {
      @include leader(.25);
      @include trailer(.25);
      a {
        text-decoration: none;
      }
    }
  }
  #header {
    margin-top: 5px;
  }
  #block-search-form {
    float: right;
    padding: 4px 0;
  }

  nav#content-menu {
    line-height: 32px;
    background-color: $nav_color;
    clear: both;
    height: 32px;
    ul {
      @include menu-links-inline(10px, 1px, solid, white);
      margin-bottom: 0;
      margin-left: 10px;
      li {
        padding-top: 8px;
        padding-bottom: 9px;
        a {
          color: $nav_link_color;
          &:hover {
            text-decoration: none;
            color: #F0E99A;
          }
        }
      }
    }
  }
}

.page-node {
  article {
    @include leader(0);
  }
}
article {
  @include leader(2);
  @include trailer(2);
  border-color: $grey80;
  footer.link-wrapper{
    li {
      padding: 0;
    }
  }
}

.associated-person {
  @include trailer(1);
  @include adjust-font-size-to(12px);
  position: relative;
  border-color: $grey80;
  h2.name {
    @include trailer(0);
    a {
      @include link_colors(#222);
    }
  }
  .remove-referenced-person {
    position: absolute;
    top: 0px;
    right: 5px;
    @include fancy-button(#ccc, 10px, 3px, 1px);
    display: none;
  }
}
.add-person {
  @include trailer(.5);
  .form-item {
    margin-top: 0;
  }
}

#sidebar-second {
  @include leader(1.25);
  h2 {
    margin: 0;
  }

  #block-views-metainfo-content-metainfo {
    h2 {
      @include leader(0);
    }
    .view-content {
      @include adjust-font-size-to(12px);
      .views-field {
        @include force-wrap();
      }
    }
  }
}

// Person page
.page-person {
  #main-wrapper {
    #post-content {
      #tagged-content {
        h1 {
          @include leader(1.5);
        }
        .block {
          h2 {
            @include rhythm(0.5);
          }
          article.tagged-content {
            @include leader(0.5);
            @include trailer(1.5);
            @include adjust-font-size-to(13px);
            h1 {
              @include rhythm(0.5);
            }
          }
          .clear-both {
            @include leading-border(1px, 0.5);
            clear: both;
            border-color: $grey90;
            margin-left: 30px;
            margin-right: 30px;
          }
        }
      }
    }
  }
}

div.tabs {
  width: 580px;
}

div.messages {
  @include rhythm(1, .5, .5, 0);
  background-position: 14px 50%;
}

.front {
  #block-fhd-frontpage-fhd-frontpage-promoted-people {
    h1 {
      @include trailer(0.5);
    }
    .ancestor-profile {
      h2 {
        @include adjust-font-size-to(24px);
        @include trailer(0);
        @include leader(0);
      }
      ul.linked-nodes{
        @include adjust-font-size-to(14px);
      }
    }
  }
  #block-fhd-frontpage-fhd-frontpage-top-surnames {
    clear: both;
    ul {
      @include adjust-font-size-to(14px);
    }
  }
}
