/* 960 Grid System ~ Core CSS.
 * Learn more ~ http://960.gs/
 * *
 * Licensed under GPL and MIT. */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

.no-sidebars header#banner,
.no-sidebars #footer,
.no-sidebars #main-wrapper,
.no-sidebars nav#breadcrumb {
  margin-left: auto;
  margin-right: auto;
  width: 960px; }

#page #banner #name-and-slogan {
  display: inline;
  float: left;
  margin-left: 30px;
  margin-right: 30px;
  width: 660px;
  margin-left: 0; }
#page #banner #header {
  float: right; }

.ancestor-profile {
  display: inline;
  float: left;
  margin-left: 30px;
  margin-right: 30px;
  width: 260px; }

article.tagged-content {
  display: inline;
  float: left;
  margin-left: 30px;
  margin-right: 30px;
  width: 420px; }

.one-sidebar header#banner,
.one-sidebar #footer,
.one-sidebar #main-wrapper,
.one-sidebar nav#breadcrumb {
  margin-left: auto;
  margin-right: auto;
  width: 960px; }
.one-sidebar #main {
  display: inline;
  float: left;
  margin-left: 30px;
  margin-right: 30px;
  width: 580px;
  margin-left: 0; }
.one-sidebar #sidebar-second, .one-sidebar #sidebar-first {
  display: inline;
  float: left;
  margin-left: 30px;
  margin-right: 30px;
  width: 260px; }

.sidebar-second #sidebar-second {
  margin-right: 0; }

#page div.messages {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  width: 820px; }
