/** Color Scheme **/
/** Typography defaults **/
/* Setup vertical rhythm */
/* Mixins */
/* 960 Grid System ~ Text CSS.
 * Learn more ~ http://960.gs/
 * *
 * Licensed under GPL and MIT. */
/** Color Scheme **/
/** Typography defaults **/
/* Setup vertical rhythm */
/* Mixins */
body {
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 100%; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: #222222; }
  h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
    margin: 0; }

h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.50em; }

h2 {
  font-size: 2em;
  margin-bottom: 0.75em; }

h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1.00em; }

h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em; }

h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.50em; }

h6 {
  font-size: 1em;
  font-weight: bold; }

p {
  margin: 0 0 1.5em; }
  p .left {
    display: inline;
    float: left;
    margin: 1.5em 1.5em 1.5em 0;
    padding: 0; }
  p .right {
    display: inline;
    float: right;
    margin: 1.5em 0 1.5em 1.5em;
    padding: 0; }

a {
  text-decoration: underline;
  color: #7a6d42; }
  a:visited {
    color: #594f30; }
  a:focus {
    color: #0099ff; }
  a:hover {
    color: #0099ff; }
  a:active {
    color: #549b55; }

blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic; }

strong, dfn {
  font-weight: bold; }

em, dfn {
  font-style: italic; }

sup, sub {
  line-height: 0; }

abbr, acronym {
  border-bottom: 1px dotted #666666; }

address {
  margin: 0 0 1.5em;
  font-style: italic; }

del {
  color: #666666; }

pre {
  margin: 1.5em 0;
  white-space: pre; }

pre, code, tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5; }

li ul, li ol {
  margin: 0; }

ul, ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 1.5em; }

ul {
  list-style-type: disc; }

ol {
  list-style-type: decimal; }

dl {
  margin: 0 0 1.5em 0; }
  dl dt {
    font-weight: bold; }

dd {
  margin-left: 1.5em; }

table {
  margin-bottom: 1.4em;
  width: 100%; }

th {
  font-weight: bold; }

thead th {
  background: #c3d9ff; }

th, td, caption {
  padding: 4px 10px 4px 5px; }

table.striped tr:nth-child(even) td,
table tr.even td {
  background: #e5ecf9; }

tfoot {
  font-style: italic; }

caption {
  background: #eeeeee; }

.quiet {
  color: #666666; }

.loud {
  color: #111111; }

/* Setup vertical rhythm */
body {
  font-size: 100%;
  line-height: 1.5em; }

html > body {
  font-size: 16px; }

body {
  font-family: Georgia,Cambria,Times,Times New Roman,serif; }

code {
  font-family: "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace; }

.signature {
  font-family: "Bradley Hand ITC", "Apple Chancery", "URW Chancery L", cursive; }

h1 {
  font-family: 'IM Fell English', Georgia, Cambria;
  text-rendering: optimizeLegibility; }

h2, h3, h4, h5, h6 {
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 1.656em;
  line-height: 1.268em;
  margin-top: 1.125em;
  margin-bottom: 1.125em; }
  h1#page-title {
    font-variant: small-caps;
    font-weight: bold;
    margin-top: 1.125em;
    margin-bottom: 0.75em; }

h2 {
  font-size: 1.313em;
  line-height: 1.6em;
  margin-top: 1.125em;
  margin-bottom: 1.125em; }

h3, h4, h5, h6 {
  font-size: 1.125em;
  line-height: 1.333em;
  margin-bottom: 0em; }

/* Links */
a {
  color: #7a6d42;
  text-decoration: none; }
  a:visited {
    color: #7a6d42; }
  a:hover {
    color: #7a6d42; }
  a:active {
    color: #7a6d42; }
  a:hover {
    text-decoration: underline; }

.input_tiny {
  width: 50px; }

.input_small {
  width: 100px; }

.input_medium {
  width: 150px; }

.input_large {
  width: 200px; }

.input_xlarge {
  width: 250px; }

.input_xxlarge {
  width: 300px; }

.input_full {
  width: 100%; }

.input_full_wrap {
  display: block;
  padding-right: 8px; }

::-moz-focus-inner {
  border: 0;
  padding: 0; }

input[type="search"]::-webkit-search-decoration {
  display: none; }

input,
button,
select,
textarea {
  margin: 0;
  vertical-align: middle; }

button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
  -webkit-appearance: none;
  -moz-border-radius: 11px;
  -webkit-border-radius: 11px;
  -o-border-radius: 11px;
  -ms-border-radius: 11px;
  -khtml-border-radius: 11px;
  border-radius: 11px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
  background: #dddddd url('/images/button.png?1304566699') repeat-x;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dddddd));
  background-image: -webkit-linear-gradient(#ffffff, #dddddd);
  background-image: -moz-linear-gradient(#ffffff, #dddddd);
  background-image: -o-linear-gradient(#ffffff, #dddddd);
  background-image: -ms-linear-gradient(#ffffff, #dddddd);
  background-image: linear-gradient(#ffffff, #dddddd);
  border: 1px solid;
  border-color: #dddddd #bbbbbb #999999;
  cursor: pointer;
  color: #333333;
  font: bold 12px/1.2 Arial, sans-serif;
  outline: 0;
  overflow: visible;
  padding: 3px 10px 4px;
  text-shadow: white 0 1px 1px;
  width: auto;
  *padding-top: 2px;
  *padding-bottom: 0px; }

button {
  *padding-top: 1px;
  *padding-bottom: 1px; }

textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  -webkit-appearance: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  -khtml-border-radius: 0;
  border-radius: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
  background-color: white;
  border: 1px solid;
  border-color: #848484 #c1c1c1 #e1e1e1;
  color: black;
  outline: 0;
  padding: 2px 3px;
  font-size: 13px;
  font-family: Arial, sans-serif;
  height: 1.8em;
  *padding-top: 2px;
  *padding-bottom: 1px;
  *height: auto; }

input.placeholder-text,
textarea.placeholder-text,
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #888888; }

::-webkit-input-placeholder {
  color: #888888; }

button:focus,
button:active,
input:focus,
input:active,
select:focus,
select:active,
textarea:focus,
textarea:active {
  -moz-box-shadow: #0066ff 0 0 7px;
  -webkit-box-shadow: #0066ff 0 0 7px;
  box-shadow: #0066ff 0 0 7px;
  z-index: 1; }

input[type="file"]:focus,
input[type="file"]:active,
input[type="radio"]:focus,
input[type="radio"]:active,
input[type="checkbox"]:focus,
input[type="checkbox"]:active {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

select[disabled],
textarea[disabled],
input[type="date"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="email"][disabled],
input[type="month"][disabled],
input[type="number"][disabled],
input[type="password"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="text"][disabled],
input[type="time"][disabled],
input[type="url"][disabled],
input[type="week"][disabled] {
  background-color: #eeeeee; }

button[disabled],
input[disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup,
textarea[disabled] {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  color: #888888;
  cursor: default; }

.is_webkit select {
  background-image: url('/images/select_arrow.gif?1304566699');
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 20px; }

textarea,
select[size],
select[multiple] {
  height: auto; }

.is_webkit select[size],
.is_webkit select[multiple] {
  background-image: none;
  padding: 0; }

textarea {
  min-height: 40px;
  overflow: auto;
  resize: vertical;
  width: 100%; }

optgroup {
  color: black;
  font-style: normal;
  font-weight: normal; }

.ie6_button,
* html button {
  background: #dddddd url('/images/button.png?1304566699') repeat-x;
  border: 1px solid;
  border-color: #dddddd #bbbbbb #999999;
  cursor: pointer;
  color: #333333;
  font: bold 12px/1.2 Arial, sans-serif;
  padding: 2px 10px 0px;
  overflow: visible;
  width: auto; }

* html button {
  padding-top: 1px;
  padding-bottom: 1px; }

.ie6_input,
* html textarea,
* html select {
  background: white;
  border: 1px solid;
  border-color: #848484 #c1c1c1 #e1e1e1;
  color: black;
  padding: 2px 3px 1px;
  font-size: 13px;
  font-family: Arial, sans-serif;
  vertical-align: top; }

* html select {
  margin-top: 1px; }

.placeholder_text,
.ie6_input_disabled,
.ie6_button_disabled {
  color: #888888; }

.ie6_input_disabled {
  background: #eeeeee; }

/* incase an inverted custom gradient isn't specified */
.fancy-button-reset-base-class, .associated-person .remove-referenced-person {
  font-family: "Lucida Grande", Lucida, Arial, sans-serif;
  background: url('/images/button_bg.png?1304658993') repeat-x bottom left;
  margin: 0;
  width: auto;
  overflow: visible;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  border-style: solid;
  font-weight: bold; }
  .fancy-button-reset-base-class::-moz-focus-inner, .associated-person .remove-referenced-person::-moz-focus-inner {
    border: none;
    padding: 0; }
  .fancy-button-reset-base-class:focus, .associated-person .remove-referenced-person:focus {
    outline: none; }

table {
  border: 0 solid black; }
  table th {
    text-align: center;
    font-weight: bold; }
  table td,
  table th {
    padding: 2px; }
    table td.numeric,
    table th.numeric {
      text-align: right; }
  table th, table td {
    border-right: 0 solid black;
    border-bottom: 0 solid black;
    border-left-width: 0px;
    border-top-width: 0px; }
    table th:last-child, table th.last, table td:last-child, table td.last {
      border-right-width: 0px; }
  table tbody tr:last-child th, table tbody tr:last-child td, table tfoot tr:last-child th, table tfoot tr:last-child td {
    border-bottom-width: 0px; }
  table tbody tr.last th, table tbody tr.last td, table tfoot tr.last th, table tfoot tr.last td {
    border-bottom-width: 0px; }
  table thead th {
    border-bottom: 0 solid black; }
  table tfoot th, table tfoot td {
    border-top: 0 solid black; }
  table th:first-child {
    border-right: 0 solid black; }
  table th {
    background-color: white; }
    table th.even, table th:nth-child(2n) {
      background-color: white; }
  table tr.odd td {
    background-color: white; }
    table tr.odd td.even, table tr.odd td:nth-child(2n) {
      background-color: white; }
  table tr.even td {
    background-color: #f0e99a; }
    table tr.even td.even, table tr.even td:nth-child(2n) {
      background-color: #f0e99a; }
  table tfoot th, table tfoot td {
    background-color: white; }
    table tfoot th.even, table tfoot th:nth-child(2n), table tfoot td.even, table tfoot td:nth-child(2n) {
      background-color: white; }
  table tr.even, table tr.odd {
    border-bottom: 0; }
  table tr td.event-type {
    background: #FFFFFF;
    border: 0;
    font-weight: bold; }

.breadcrumb {
  font-size: 0.75em;
  line-height: 2em;
  margin-bottom: 0em;
  margin-top: 0.375em;
  padding: 0; }

header#banner hgroup#name-and-slogan h1#site-name {
  margin-top: 0.375em;
  margin-bottom: 0.375em; }
  header#banner hgroup#name-and-slogan h1#site-name a {
    text-decoration: none; }
header#banner #header {
  margin-top: 5px; }
header#banner #block-search-form {
  float: right;
  padding: 4px 0; }
header#banner nav#content-menu {
  line-height: 32px;
  background-color: #613f38;
  clear: both;
  height: 32px; }
  header#banner nav#content-menu ul {
    margin-bottom: 0;
    margin-left: 10px; }
    header#banner nav#content-menu ul li {
      display: inline;
      padding: 0 10px;
      border-right: 1px solid white;
      margin: 0; }
    header#banner nav#content-menu ul .last {
      border-right: none; }
    header#banner nav#content-menu ul li {
      padding-top: 8px;
      padding-bottom: 9px; }
      header#banner nav#content-menu ul li a {
        color: #d9d28b; }
        header#banner nav#content-menu ul li a:hover {
          text-decoration: none;
          color: #F0E99A; }

.page-node article {
  margin-top: 0em; }

article {
  margin-top: 3em;
  margin-bottom: 3em;
  border-color: #cccccc; }
  article footer.link-wrapper li {
    padding: 0; }

.associated-person {
  margin-bottom: 1.5em;
  font-size: 0.75em;
  line-height: 2em;
  position: relative;
  border-color: #cccccc; }
  .associated-person h2.name {
    margin-bottom: 0em; }
    .associated-person h2.name a {
      color: #222222; }
  .associated-person .remove-referenced-person {
    position: absolute;
    top: 0px;
    right: 5px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    font-size: 10px;
    line-height: 1.2em;
    padding: 0.3em 1em;
    border-width: 1px;
    background-color: white;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(10%, #f2f2f2), color-stop(50%, #c4c4c4), color-stop(50%, #bdbdbd), color-stop(100%, #d6d6d6));
    background-image: -webkit-linear-gradient(#ffffff, #f2f2f2 10%, #c4c4c4 50%, #bdbdbd 50%, #d6d6d6);
    background-image: -moz-linear-gradient(#ffffff, #f2f2f2 10%, #c4c4c4 50%, #bdbdbd 50%, #d6d6d6);
    background-image: -o-linear-gradient(#ffffff, #f2f2f2 10%, #c4c4c4 50%, #bdbdbd 50%, #d6d6d6);
    background-image: -ms-linear-gradient(#ffffff, #f2f2f2 10%, #c4c4c4 50%, #bdbdbd 50%, #d6d6d6);
    background-image: linear-gradient(#ffffff, #f2f2f2 10%, #c4c4c4 50%, #bdbdbd 50%, #d6d6d6);
    border-color: #a6a6a6;
    text-shadow: white 0px 1px 1px;
    -moz-box-shadow: rgba(255, 255, 255, 0.8) 0 0 0.1em 1px inset;
    -webkit-box-shadow: rgba(255, 255, 255, 0.8) 0 0 0.1em 1px inset;
    -o-box-shadow: rgba(255, 255, 255, 0.8) 0 0 0.1em 1px inset;
    box-shadow: rgba(255, 255, 255, 0.8) 0 0 0.1em 1px inset;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    -o-background-clip: padding-box;
    -ms-background-clip: padding-box;
    -khtml-background-clip: padding-box;
    background-clip: padding-box;
    display: none; }
    .associated-person .remove-referenced-person, .associated-person .remove-referenced-person:visited {
      color: #222222; }
    .associated-person .remove-referenced-person:hover, .associated-person .remove-referenced-person:focus {
      background-color: #f7f7f7;
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(10%, #ebebeb), color-stop(50%, #bdbdbd), color-stop(50%, #b5b5b5), color-stop(100%, #cfcfcf));
      background-image: -webkit-linear-gradient(#ffffff, #ebebeb 10%, #bdbdbd 50%, #b5b5b5 50%, #cfcfcf);
      background-image: -moz-linear-gradient(#ffffff, #ebebeb 10%, #bdbdbd 50%, #b5b5b5 50%, #cfcfcf);
      background-image: -o-linear-gradient(#ffffff, #ebebeb 10%, #bdbdbd 50%, #b5b5b5 50%, #cfcfcf);
      background-image: -ms-linear-gradient(#ffffff, #ebebeb 10%, #bdbdbd 50%, #b5b5b5 50%, #cfcfcf);
      background-image: linear-gradient(#ffffff, #ebebeb 10%, #bdbdbd 50%, #b5b5b5 50%, #cfcfcf);
      border-color: #9e9e9e;
      text-shadow: white 0px 1px 1px; }
      .associated-person .remove-referenced-person:hover, .associated-person .remove-referenced-person:hover:visited, .associated-person .remove-referenced-person:focus, .associated-person .remove-referenced-person:focus:visited {
        color: #222222; }
    .associated-person .remove-referenced-person:active {
      background-color: #f0f0f0;
      background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #bdbdbd), color-stop(30%, #c2c2c2), color-stop(50%, #b8b8b8), color-stop(50%, #b0b0b0), color-stop(100%, #d1d1d1));
      background-image: -webkit-linear-gradient(#bdbdbd, #c2c2c2 30%, #b8b8b8 50%, #b0b0b0 50%, #d1d1d1);
      background-image: -moz-linear-gradient(#bdbdbd, #c2c2c2 30%, #b8b8b8 50%, #b0b0b0 50%, #d1d1d1);
      background-image: -o-linear-gradient(#bdbdbd, #c2c2c2 30%, #b8b8b8 50%, #b0b0b0 50%, #d1d1d1);
      background-image: -ms-linear-gradient(#bdbdbd, #c2c2c2 30%, #b8b8b8 50%, #b0b0b0 50%, #d1d1d1);
      background-image: linear-gradient(#bdbdbd, #c2c2c2 30%, #b8b8b8 50%, #b0b0b0 50%, #d1d1d1);
      border-color: #969696;
      text-shadow: white 0px -1px -1px;
      -moz-box-shadow: #a6a6a6 0 0.08em 0.2em 1px inset;
      -webkit-box-shadow: #a6a6a6 0 0.08em 0.2em 1px inset;
      -o-box-shadow: #a6a6a6 0 0.08em 0.2em 1px inset;
      box-shadow: #a6a6a6 0 0.08em 0.2em 1px inset; }
      .associated-person .remove-referenced-person:active, .associated-person .remove-referenced-person:active:visited {
        color: #222222; }

.add-person {
  margin-bottom: 0.75em; }
  .add-person .form-item {
    margin-top: 0; }

#sidebar-second {
  margin-top: 1.875em; }
  #sidebar-second h2 {
    margin: 0; }
  #sidebar-second #block-views-metainfo-content-metainfo h2 {
    margin-top: 0em; }
  #sidebar-second #block-views-metainfo-content-metainfo .view-content {
    font-size: 0.75em;
    line-height: 2em; }
    #sidebar-second #block-views-metainfo-content-metainfo .view-content .views-field {
      white-space: pre;
      white-space: pre-wrap;
      white-space: pre-line;
      white-space: -pre-wrap;
      white-space: -o-pre-wrap;
      white-space: -moz-pre-wrap;
      white-space: -hp-pre-wrap;
      word-wrap: break-word; }

.page-person #main-wrapper #post-content #tagged-content h1 {
  margin-top: 2.25em; }
.page-person #main-wrapper #post-content #tagged-content .block h2 {
  margin-top: 0.75em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0em; }
.page-person #main-wrapper #post-content #tagged-content .block article.tagged-content {
  margin-top: 0.75em;
  margin-bottom: 2.25em;
  font-size: 0.813em;
  line-height: 1.846em; }
  .page-person #main-wrapper #post-content #tagged-content .block article.tagged-content h1 {
    margin-top: 0.75em;
    padding-top: 0em;
    padding-bottom: 0em;
    margin-bottom: 0em; }
.page-person #main-wrapper #post-content #tagged-content .block .clear-both {
  border-top-style: solid;
  border-top-width: 0.063em;
  padding-top: 0.688em;
  clear: both;
  border-color: #e6e6e6;
  margin-left: 30px;
  margin-right: 30px; }

div.tabs {
  width: 580px; }

div.messages {
  margin-top: 1.5em;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  margin-bottom: 0em;
  background-position: 14px 50%; }

.front #block-fhd-frontpage-fhd-frontpage-promoted-people h1 {
  margin-bottom: 0.75em; }
.front #block-fhd-frontpage-fhd-frontpage-promoted-people .ancestor-profile h2 {
  font-size: 1.5em;
  line-height: 2em;
  margin-bottom: 0em;
  margin-top: 0em; }
.front #block-fhd-frontpage-fhd-frontpage-promoted-people .ancestor-profile ul.linked-nodes {
  font-size: 0.875em;
  line-height: 1.714em; }
.front #block-fhd-frontpage-fhd-frontpage-top-surnames {
  clear: both; }
  .front #block-fhd-frontpage-fhd-frontpage-top-surnames ul {
    font-size: 0.875em;
    line-height: 1.714em; }
